*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
*.npz
.cache
.DS_Store
Updec.egg-info/*
examples/temp/*
!examples/temp/README.md
scripts/reports/*
!scripts/reports/README.md
runs/*
!runs/README.md
demos/temp/*
!demos/temp/README.md
