*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
*.npz
.cache
.DS_Store
Updec.egg-info/*
examples/data/*
!examples/data/README.md
scripts/reports/*
!scripts/reports/README.md
runs/*
!runs/README.md
demos/temp/*
demos/data/*
!demos/data/README.md
*msh
*vtk
quadqs_statistics.json
!demos/data/TempFolder/*