*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
*.npz
.cache
.DS_Store
Updec.egg-info/*
updes.egg-info/*
examples/data/*
!examples/data/README.md
scripts/reports/*
!scripts/reports/README.md
runs/*
!runs/README.md
demos/temp/*
*msh
*vtk
quadqs_statistics.json

## Quarto website
docs/.quarto/*
docs/_site/*

!updes/tests/data/mesh.msh

demos/Laplace/data/*
!demos/Laplace/data/README.md
!demos/Laplace/data/Comparison
!demos/Laplace/data/TempFolder/*

demos/NavierStokes/data/*
!demos/NavierStokes/data/README.md
!demos/NavierStokes/data/Comparison
!demos/NavierStokes/data/TempFolder/*

demos/Advection/data/*
!demos/Advection/data/README.md
!demos/Advection/data/Comparison
!demos/Advection/data/TempFolder/*
