name: Updec CI/CD

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Add conda to system path
      run: |
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda env update --file scripts/env_daffyduck.yml --name base
    - name: Install Updec
      run: |
        python setup.py develop
    - name: Test with pytest
      run: |
        conda install pytest
        pytest -q updec/tests/*.py
